.clearfix() {
  &:after {
    display: table;
    clear: both;

    content: "";
  }
}

.block-wrapper() {
  width: @sm-container;
  margin: 0 auto;
  box-sizing: border-box;
  @media (min-width:@md-screen) {
    width: @md-container;
  }
  @media (min-width:@lg-screen) {
    width: @lg-container;
  }
}
