.clearfix() {
  &:after {
    display: table;
    clear: both;
    content: "";
  }
}

.block-wrapper() {
  box-sizing: border-box;
  width: @sm-container;
  margin: 0 auto;

  .clearfix();
  @media (min-width:@md-screen) {
    width: @md-container;
  }
  @media (min-width:@lg-screen) {
    width: @lg-container;
  }
}
