@sm-screen: 320px;
@md-screen: 700px;
@lg-screen: 992px;

// @md-screen: 1700px;
// @lg-screen: 1992px;

@sm-container: 280px;
@md-container: 620px;
@lg-container: 940px;

@main-dark-color: #283645;
@main-light-color: #fff;
@minor-light-color: #f2f2f2;
@pink-color: #d22856;
@main-divider-color: #e5e5e5;

@subscription-color: #8a8a8a;

@wrapper-padding: 20px;

@font-size-sm: 14px;
@line-height-sm: 27px; 

@font-size-md: 18px;
@line-height-md: 30px;
