@viewport {
  zoom: 1.0;

  width: device-width;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 27px;

  margin: 0;
  padding: 0;

  color: @main-dark-color;
}

.container {
  width: @sm-screen;
  margin: 0 auto;
}

a {
  color: @pink-color;
}

p {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
}
