.btn-iconic {
  font-size: 0;
  display: inline-block;
  width: 47px;
  height: 65px;
  margin-right: 33px;
  vertical-align: top;
  &:last-child {
    margin-right: 0;
  }
  &--ios {
    background: url("../img/apple-logo.svg") no-repeat 0 2px;
  }
  &--android {
    background: url("../img/android-logo.svg") no-repeat 0 10px;
  }
  &--windows {
    background: url("../img/microsoft-logo.svg") no-repeat 0 14px;
  }
}

.btn-download {
  font-size: 18px;
  line-height: 18px;
  display: block;
  margin-bottom: 25px;
  padding: 15px;
  text-decoration: none;
  color: @main-light-color;
  border: 4px solid @main-light-color;
  border-radius: 30px;
  font-weight: bold;
}

.btn {
  font-size: 18px;
  font-weight: bold;
  display: block;
  box-sizing: border-box;
  text-align: center;
  text-transform: uppercase;
  border-radius: 1px;
  &--upload {
    width: 100%;
    padding: 13px;
    border: 2px solid @main-divider-color;
    background: @main-light-color;
    @media(min-width: @md-screen) {
      
    }
    @media(min-width: @lg-screen) {
      background: @pink-color;
      color: @main-light-color;
    }
  }
  &--submit {
    width: 280px;
    margin-bottom: 35px;
    padding: 20px;
    color: @main-light-color;
    border: none;
    background: #2aab6d;
  }
}
