.contest-form {
  padding-top: 45px;
  padding-bottom: 15px;
  &__promo {
    font-size: 14px;
    line-height: 30px;

    margin-bottom: 35px;

    text-align: center;
  }
  label {
    font-size: 14px;
    line-height: 30px;

    display: block;

    margin-bottom: 5px;

    text-transform: uppercase;

    color: @pink-color;
  }
  input[type="text"],
  input[type="number"] {
    font-size: 18px;
    line-height: 30px;

    display: block;

    box-sizing: border-box;
    width: 280px;
    margin-bottom: 15px;
    padding: 14px 20px;

    text-transform: none;

    color: @main-dark-color;
    border: 2px solid @main-divider-color;
    border-radius: 1px;
  }
  input[readonly] {
    background: @minor-light-color;
  }
  &__block-heading {
    font-size: 14px;
    font-weight: normal;
    line-height: 18px;

    margin: 0;
    margin-bottom: 41px;

    text-align: center;
    text-transform: uppercase;

    color: @pink-color;
  }
  &__main-info {
    padding-right: 20px;
    padding-bottom: 35px;
    padding-left: 20px;
    label {
      margin-left: 23px;
    }
  }
  &__app-type {
    padding-top: 35px;
    padding-right: 20px;
    padding-left: 20px;

    background: @minor-light-color;
    label {
      font-size: 18px;

      position: relative;

      display: block;

      padding-bottom: 40px;
      padding-left: 60px;

      text-transform: none;

      color: @main-dark-color;
      &:before {
        position: absolute;
        top: -2px;
        left: 2px;

        display: block;

        width: 15px;
        height: 15px;

        content: "";

        border: 10px solid @main-light-color;
        border-radius: 50%;
        background: @main-light-color;
        box-shadow: 0 0 0 2px @main-divider-color;
      }
    }
    input[type="radio"] {
      display: none;
    }
    input[type="radio"]:checked + label:before {
      background: @pink-color;
    }
  }
  &__dates {
    padding-top: 50px;
    padding-right: 20px;
    padding-bottom: 22px;
    padding-left: 20px;

    text-align: center;
    input[type="text"] {
      margin-bottom: 10px;
    }
    label {
      margin-bottom: 17px;
    }
  }
  &__companions {
    padding-top: 30px;
    padding-right: 20px;
    padding-bottom: 30px;
    padding-left: 20px;

    background: @minor-light-color;
    &-number-wrapper {
      padding-bottom: 35px;

      text-align: center;
      label {
        margin-bottom: 28px;
      }
    }
    &-list {
      border-top: 2px solid @main-divider-color;
      &-item {
        padding-top: 28px;

        .clearfix();
        label {
          padding-left: 20px;
          padding-left: 25px;
        }
        &-number {
          float: left;

          width: 60px;
          input[type="number"] {
            width: 65px;
          }
        }
        &-info {
          float: right;

          width: 220px;
          input[type="text"] {
            width: 220px;
          }
        }
      }
    }
  }
  &__achievements {
    padding-top: 48px;
    padding-right: 20px;
    padding-left: 20px;
    label {
      font-size: 18px;

      position: relative;

      display: block;

      padding-bottom: 47px;
      padding-left: 60px;

      text-transform: none;

      color: @main-dark-color;
      &:before {
        position: absolute;
        top: -4px;
        left: -2px;

        display: block;

        width: 36px;
        height: 36px;

        content: "";

        border: 2px solid @main-divider-color;
        background: @main-light-color;
      }
    }
    input[type="checkbox"] {
      display: none;
    }
    input[type="checkbox"]:checked + label:before {
      background: @main-light-color url("../img/icon-check.png") no-repeat center 50%;
    }
  }
  &__photos {
    padding-top: 35px;
    padding-right: 20px;
    padding-bottom: 5px;
    padding-left: 20px;

    background: @minor-light-color;
    &-items {
      font-size: 0;

      margin-top: 33px;
      padding-top: 35px;

      border-top: 2px solid #e5e5e5;
    }
  }
  &__single-photo {
    position: relative;
    z-index: 10;

    display: inline-block;

    width: 67px;
    height: 68px;
    margin-right: 39px;
    margin-bottom: 45px;

    vertical-align: top;
    &:nth-child(3n) {
      margin-right: 0;
    }
    &:after {
      position: absolute;
      z-index: 100;
      top: -16px;
      right: -17px;

      display: block;

      width: 34px;
      height: 33px;

      content: "";
      cursor: pointer;

      border-radius: 50%;
      background: url("../img/icon-photo-del.png") no-repeat 0 0;
    }
    img {
      display: block;
    }
    &-name {
      font-size: 12px;
      line-height: 18px;

      padding-top: 7px;

      text-transform: uppercase;
    }
  }
  &__ending {
    padding-top: 50px;
    padding-right: 20px;
    padding-left: 20px;

    text-align: center;
    text-transform: uppercase;
  }
}


.increment-field {
  position: relative;
  input {
    display: block;

    text-align: center;
  }
  &:before,
  &:after {
    position: absolute;
    top: 0;

    display: block;

    width: 59px;
    height: 62px;

    content: "";
    cursor: pointer;
  }
  &:before {
    left: 0;

    border-right: 2px solid @main-divider-color;
    background: url("../img/icon-decrement.png") no-repeat 50% 50%;
  }
  &:after {
    right: 0;

    border-left: 2px solid @main-divider-color;
    background: url("../img/icon-increment.png") no-repeat 50% 50%;
  }
}


.btn {
  &-upload-photo {
    font-size: 18px;
    font-weight: bold;

    display: block;

    width: 280px;
    margin-top: -7px;
    padding: 17px;

    text-transform: uppercase;

    border: 1px solid @main-divider-color;
    border-radius: 1px;
    background: @main-light-color;
  }
  &-submit-form {
    font-size: 18px;

    display: block;

    width: 280px;
    margin-bottom: 35px;
    padding: 20px;

    text-align: center;
    text-transform: uppercase;

    color: @main-light-color;
    border: none;
    border-radius: 1px;
    background: #2aab6d;
  }
}

.form-important {
  color: @pink-color;
}
