.index-download {
  padding-top: 27px;
  padding-bottom: 30px;

  text-align: center;

  color: @main-light-color;
  background: @main-dark-color;
  &__wrapper {
    .block-wrapper();
  }
  &__text {
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;

    padding-right: 20px;
    padding-left: 20px;
  }
  &__buttons {
    font-size: 0;

    margin-bottom: 16px;
    padding-top: 4px;
  }
}

.index-description {
  text-align: center;
}

.index-promo {
  font-size: 24px;
  font-weight: 300;
  line-height: 29px;

  padding-top: 40px;
  padding-bottom: 30px;
  &__wrapper {
    .block-wrapper();
  }
  p {
    margin: 0;
    margin-bottom: 30px;
    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

.index-whatfor {
  font-size: 14px;
  line-height: 24px;

  position: relative;

  margin-top: 35px;
  padding-top: 47px;
  padding-bottom: 285px;

  background: @minor-light-color url("../img/screen-mobile-3.png") no-repeat center bottom;
  &:before {
    position: absolute;
    top: -35px;
    left: 0;

    display: block;

    content: "";

    border-top: 35px solid transparent;
    border-right: 100vw solid @minor-light-color;
  }
  &__heading {
    font-size: 18px;
    font-weight: bold;
    line-height: 24px;

    margin: 0;
    margin-bottom: 12px;
  }
  &__item {
    margin-bottom: 32px;
  }
  &__wrapper {
    .block-wrapper();
  }
}

.reviews {
  padding-bottom: 25px;

  text-align: center;
}

.slider-reviews {
  &__wrapper {
    .block-wrapper();
  }
  &__item {
    padding-top: 40px;
  }
  &__header {
    font-size: 18px;
    font-weight: bold;
    line-height: 30px;

    margin: 0;
    margin-bottom: 15px;
  }
  &__text {
    font-size: 14px;
    line-height: 30px;

    margin: 0;
  }
}

.slider-pagination {
  font-size: 0;

  padding-top: 32px;
  padding-bottom: 25px;
  &__item {
    display: inline-block;

    width: 6px;
    height: 6px;
    margin-right: 13px;

    cursor: pointer;
    vertical-align: top;

    border: 3px solid transparent;
    border-radius: 50%;
    background: #bec2c7;
    &:last-child {
      margin-right: 0;
    }
    &--active {
      border: 3px solid @main-dark-color;
      background: @main-light-color;
    }
  }
}


.price {
  position: relative;

  padding-top: 68px;

  background: @minor-light-color;
  &:before {
    position: absolute;
    top: -25px;
    left: 0;

    display: block;

    content: "";

    border-top: 25px solid transparent;
    border-right: 100vw solid @minor-light-color;
  }
}


.slider-price {
  font-size: 0;
  line-height: 30px;

  overflow: hidden;

  text-transform: uppercase;

  color: @main-dark-color;
  &__wrapper {
    width: (@sm-screen - 40)*3;
    
    // transform: translateX(-@sm-screen + 20 * 3);
  }
  &__item {
    font-size: 14px;

    position: relative;

    display: inline-block;
    overflow: hidden;

    width: @sm-screen - 40 - 3;

    border-right: 1px solid #e5e5e5;
    border-left: 1px solid #e5e5e5;
    &--hit:before {
      position: absolute;
      top: 0;
      left: 0;

      display: block;

      padding: 0 45px;

      content: "Хит";
      transform: rotate(-45deg) translateX(-35px) translateY(-19px);

      color: @main-light-color;
      background: @pink-color;
    }
  }
  &__heading {
    padding-top: 16px;

    text-align: center;

    color: @main-light-color;
    background: @main-dark-color;
  }
  &__name {
    font-size: 18px;

    margin: 0;
    margin-bottom: 3px;
    padding: 0;

    color: @main-light-color;
  }
  &__price {
    font-size: 24px;
    font-weight: 300;

    padding-bottom: 20px;
  }
  &__features {
  }
  &__features-item {
    padding: 14px 22px;

    border-bottom: 2px solid #e5e5e5;
    background: @main-light-color url("../img/icon-ok.png") no-repeat (@sm-screen - 85) 50%;
    &--no {
      background: @main-light-color url("../img/icon-no.png") no-repeat (@sm-screen - 85) 50%;
    }
  }
}
