.page-header {
  color: @main-light-color;
  background: @main-dark-color;
  background: @main-dark-color url("../img/background-mobile@1x.jpg") no-repeat center top;
  background-size: cover;
  @media(min-width: @md-screen) {
    background: @main-dark-color url("../img/background-tablet@1x.jpg") no-repeat center top;
    background-size: cover;
  }
  @media(min-width: @lg-screen) {
    background: @main-dark-color url("../img/background-fullsize.jpg") no-repeat center top;
    background-size: cover;
  }
  &--form {
    padding-bottom: 57px;
  }
  &__nav-bar {
    min-height: 66px;
    background: rgba(0, 0, 0, 0.3);

    .clearfix();
    @media(min-width: @md-screen) {
      min-height: 110px;
    }
  }
  &__nav-bar-wrapper {
    .block-wrapper();
  }
  &__logo-link {
    float: left;
    position: relative;
    z-index: 100;
    img {
      width: 74px;
      height: 25px;
      padding-top: 22px;
      @media(min-width: @md-screen) {
        width: 145px;
        height: 40px;
        padding-top: 25px;
      }
    }
  }
  &__heading-block {
    padding-top: 30px;
    padding-bottom: 45px;

    .block-wrapper();
    @media(min-width: @md-screen) {
      padding-top: 70px;
      padding-bottom: 75px;
    }
    @media(min-width: @lg-screen) {
      padding-top: 65px;
      padding-bottom: 100px;
    }
    &--index {
      width: auto;
      margin: 0;
      padding-top: 20px;
      padding-bottom: 0;
      @media(min-width: @md-screen) {
        .block-wrapper();
      }
    }
  }
  &__heading {
    text-align: center;
    margin: 0;
    font-size: 24px;
    font-weight: 300;
    line-height: 1.2em;
    @media(min-width: @md-screen) {
      font-size: 50px;
    }
    &--index {
      position: relative;
      width: @sm-container;
      margin: 0 auto;
      padding-bottom: 315px;
      @media(min-width: @md-screen) {
        float: left;
        width: @sm-container - 40;
        margin-right: 0;
        margin-left: 0;
        padding-top: 92px;
        padding-bottom: 2px;
        padding-left: 30px;
        font-size: 40px;
      }
      @media(min-width: @lg-screen) {
        padding-top: 110px;
        font-size: 50px;
      }
    }
  }
}


.main-nav {
  @media(min-width: @lg-screen) {
    float: right;
    max-width: @lg-container - 200;
  }
  &__list {
    display: none;
    position: absolute;
    z-index: @z-front;
    top: 66px;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    &--mobile-active {
      display: block;
      @media(min-width: @md-screen) {
        top: 110px;
      }
    }
    @media(min-width: @lg-screen) {
      display: block;
      position: static;
      width: auto;
      margin-top: 37px;
    }
    li {
      border-top: 1px solid #495561;
      border-bottom: 1px solid #003001;
      background: @main-dark-color;
      @media(min-width: @lg-screen) {
        display: inline-block;
        vertical-align: middle;
        padding-left: 64px;
        border: none;
        background: none;
      }
    }
    a {
      display: block;
      text-align: center;
      padding: 25px;
      font-size: 18px;
      font-weight: bold;
      line-height: 32px;
      text-decoration: none;
      text-transform: uppercase;
      color: @main-light-color;
      // width: 100%;
      @media(min-width: @lg-screen) {
        width: auto;
        padding: 0;
        font-weight: normal;
        line-height: 18px;
        text-transform: none;
      }
    }
  }
  &__toggle {
    display: block;
    float: right;
    width: 50px;
    height: 25px;
    margin-top: 20px;
    content: "";
    background: linear-gradient(to bottom, white 5px, transparent 5px, transparent 10px, white 10px, white 15px, transparent 15px, transparent 20px, white 20px);
    @media(min-width: @md-screen) {
      margin-top: 42px;
    }
    @media(min-width: @lg-screen) {
      display: none;
    }
    &--close {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 66px;
      margin: 0;
      border-bottom: 1px solid #003001;
      background: @main-dark-color;
      &:after,
      &:before {
        display: block;
        position: absolute;
        top: 20px;
        right: 30px;
        width: 5px;
        height: 30px;
        content: "";
        background: white;
        @media(min-width: @md-screen) {
          top: 37px;
          right: 50%;
          margin-right: -@md-container / 2 + 8;
        }
      }
      &:after {
        transform: rotate(45deg);
      }
      &:before {
        transform: rotate(-45deg);
      }
      @media(min-width: @md-screen) {
        height: 110px;
      }
    }
  }
}


.index-download {
  text-align: center;
  clear: both;
  position: relative;
  color: @main-light-color;
  background: #1d2631;
  @media(min-width: @md-screen) {
    background: none;
  }
  &__wrapper {
    position: relative;
    z-index: 100;
    width: @sm-container;
    margin: 0 auto;
    padding-top: 27px;
    padding-bottom: 30px;
    @media(min-width: @md-screen) {
      width: 300px;
      margin-left: 0;
      padding-bottom: 110px;
    }
    @media(min-width: @lg-screen) {
      width: 300px;
      margin-left: 0;
      padding-top: 48px;
      padding-bottom: 122px;
    }
    &:before {
      display: block;
      position: absolute;
      z-index: -1;
      top: -285px;
      left: -20px;
      width: 257px;
      height: 285px;
      content: "";
      background: url("../img/iphone-hand-mobile.png") no-repeat left top;
      background-size: cover;
      @media(min-width: @md-screen) {
        top: auto;
        bottom: 0;
        left: -40px;
        width: 700px;
        height: 545px;
        background: url("../img/iphone-hand-tablet@1x.png") no-repeat left top;
      }
      @media(min-width: @lg-screen) {
        left: 15px;
        width: 940px;
        height: 645px;
        background: url("../img/iphone-hand-desktop@1x.png") no-repeat left top;
      }
    }
  }
  &__text {
    padding-right: 20px;
    padding-left: 20px;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    @media(min-width: @md-screen) {
      padding-right: 0;
      padding-left: 0;
      font-size: 18px;
    }
  }
  &__buttons {
    padding-top: 4px;
    padding-bottom: 16px;
    font-size: 0;
    @media(min-width: @md-screen) {
      padding-top: 20px;
      padding-bottom: 30px;
    }
    @media(min-width: @lg-screen) {
      padding-top: 40px;
      padding-bottom: 48px;
    }
  }
}
