.index-footer {
  position: relative;
  &:after,
  &:before {
    position: absolute;
    z-index: 100;
    bottom: 165px;
    display: block;
    content: "";
    border-top: 35px solid @main-light-color;
    @media(min-width: @md-screen) {
      bottom: 305px;
      border-top: 75px solid @main-light-color;
    }
    @media(min-width: @lg-screen) {
      bottom: 395px;
      border-top: 125px solid @main-light-color;
    }
  }
  &:after {
    left: 50%;
    border-right: 50vw solid transparent;
  }
  &:before {
    right: 50%;
    border-left: 50vw solid transparent;
  }
  &__wrapper {
    text-align: center;

    .block-wrapper();
  }
  &__heading {
    font-size: 24px;
    font-weight: 300;
    line-height: 28px;
    margin-bottom: 33px;
    @media(min-width: @md-screen) {
      font-size: 40px;
      line-height: 1.2em;
      margin-bottom: 40px;
      padding-right: 100px;
      padding-left: 100px;
    }
    @media(min-width: @lg-screen) {
      font-size: 50px;
      margin-bottom: 55px;
    }
  }
  &__contacts {
    position: relative;
    padding-top: 45px;
    padding-right: 20px;
    padding-bottom: 15px;
    padding-left: 20px;
    background: @main-light-color;
    @media(min-width: @lg-screen) {
      padding-top: 63px;
      padding-bottom: 0;
    }
  }
  &__contact-item {
    width: 100%;
    margin-right: auto;
    margin-bottom: 20px;
    margin-left: auto;
    @media(min-width: @md-screen) {
      width: 260px;
    }
    @media(min-width: @lg-screen) {
      width: 260px;
    }
    &--call {
      float: left;
    }
    &--write {
      float: right;
    }
    &--go {
      clear: both;
      @media(min-width: @md-screen) {
        margin-bottom: 0;
        padding-top: 25px;
      }
      @media(min-width: @lg-screen) {
        clear: none;
        padding-top: 0;
      }
    }
  }
  &__contact-heading {
    font-size: 18px;
    font-weight: bold;
    @media(min-width: @lg-screen) {
      padding-bottom: 17px;
    }
  }
  &__contact-link {
    font-size: 24px;
    font-weight: 300;
    text-decoration: none;
    color: @pink-color;
  }
  &__map {
    width: 100%;
    height: 200px;
    @media(min-width: @md-screen) {
      height: 380px;
    }
    @media(min-width: @lg-screen) {
      height: 520px;
    }
  }
}

.page-footer {
  padding-top: 40px;
  padding-bottom: 20px;
  @media(min-width: @md-screen) {
    padding-top: 35px;
    padding-bottom: 45px;
  }
  @media(min-width: @lg-screen) {
    padding-top: 50px;
    padding-bottom: 70px;
  }
  &--index {
    display: none;
    @media(min-width: @md-screen) {
      display: block;
      padding-top: 10px;
    }
    @media(min-width: @lg-screen) {
      display: block;
      padding-top: 45px;
    }
  }
  &__wrapper {
    display: flex;
    flex-direction: row;

    .block-wrapper();
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    @media(min-width: @md-screen) {
      justify-content: space-between;
    }
    & > div {
      flex-shrink: 0;
    }
  }
  &__logo {
    @media(min-width: @md-screen) {
      margin-top: 10px;
    }
    img {
      display: block;
      width: 147px;
      height: 41px;
    }
  }
  &__social {
    margin-top: 30px;
  }
  &__developer {
    font-size: 14px;
    line-height: 18px;
    margin-top: 35px;
    @media(min-width: @lg-screen) {
      font-size: 18px;
    }
  }
}

.social-links {
  font-size: 0;
  margin: 0;
  margin-right: -10px;
  padding: 0;
  list-style: none;
  li {
    display: inline-block;
    width: 45px;
    height: 45px;
    margin: 0;
    margin-right: 10px;
    padding: 0;
    vertical-align: top;
    border: 4px solid #e9ebec;
    border-radius: 50%;
  }
  &__item {
    display: block;
    height: 100%;
    &--twitter {
      background: url("../img/twitter.svg") no-repeat center 50%;
    }
    &--fb {
      background: url("../img/facebook.svg") no-repeat center 50%;
    }
    &--youtube {
      background: url("../img/youtube.svg") no-repeat center 50%;
    }
  }
}

.developer-htmlacademy {
  font-size: 0;
  display: inline-block;
  width: 27px;
  height: 34px;
  margin-left: 10px;
  vertical-align: middle;
  background: url("../img/htmlacademy.svg") no-repeat center 50%;
}
