@viewport {
  width: device-width;
  zoom: 1.0;
}

body {
  min-width: @sm-screen;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-size: @font-size-sm;
  font-weight: normal;
  line-height: @line-height-sm;
  color: @main-dark-color;
  @media(min-width:@md-screen) {
    font-size: @font-size-md;
    line-height: @line-height-md;
  }
}


a {
  text-decoration: underline;
  color: @pink-color;
  &:hover,
  &:active {
    text-decoration: none;
  }
}

p {
  margin: 0;
  margin-bottom: 20px;
}

