@viewport {
  zoom: 1.0;

  width: device-width;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 27px;

  margin: 0;
  min-width: @sm-screen;

  color: @main-dark-color;
}

@media(min-width:@md-screen) {
  body {
    font-size: 18px;
    line-height: 30px;
  }
}

a {
  color: @pink-color;
}

p {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
}
